@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--dark);
  font-size: 16px;
  color: var(--light);
}

:root {
  /* colors */
  --dark: #121619;
  --light: #F0E2E7;
  --red: #b20d30;
  --violet: #826aed;
  --emerald: #3DDC97;

  /* breakpoints */
  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;

  /* fonts */
  --titles: "Cantarell", sans-serif;
  --paragraphs: "Roboto", sans-serif;
}